<!doctype html>
<html ng-app>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://code.angularjs.org/1.1.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>Анализ типологии личности водителей</title>
</head>
<body>
<div class="container text-center" ng-controller="TestController">
    <h2>Анализ типологии личности водителей</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Описание</button>
    <br>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-left">
                <a href="http://refdb.ru/look/1977981-pall.html" target="_blank">Источник</a>
                <p></p>
                <p>Многочисленные специальные исследования показывают, что по&nbsp;степени предрасположенности к&nbsp;опасности водителей можно разделить на&nbsp;три категории: весьма надёжные&nbsp;&mdash; 15&ndash;20%; потенциально опасные или предрасположенные к&nbsp;авариям&nbsp;&mdash; 7&ndash;12% и&nbsp;так называемые индифферентные водители&nbsp;&mdash; 55&ndash;65%, которые в&nbsp;одних случаях могут работать безопасно, а&nbsp;в&nbsp;других обстоятельствах могут совершить аварию.</p>
                <p>Однако подобная грубая классификация не&nbsp;позволяет разработать профилактические мероприятия на&nbsp;индивидуальном уровне, так как способность водителя обеспечивать безопасное управление автомобилем в&nbsp;процессе дорожного движения зависит от&nbsp;его (водителя) индивидуальных особенностей, требующих более детальной классификации.</p>
                <p>В&nbsp;данной работе применен разработанный нами Морфологической анализ для определения индивидуальных особенностей водителей и&nbsp;дифференциации их&nbsp;поведения с&nbsp;целью самооценки, самоэкспертизы водителей и&nbsp;разработки профилактических мероприятий по&nbsp;повышению БДД на&nbsp;индивидуальном уровне.</p>
                <p>При управлении автомобилем водитель получает информацию через свои рецепторы, сравнивает полученную информацию со&nbsp;своим опытом, в&nbsp;результате этого сравнения принимает решение и&nbsp;осуществляет управление автомобилем.</p>
                <p>Для установления влияния индивидуального поведения водителей на&nbsp;процесс обеспечения безопасности дорожного движения необходимо детально проанализировать указанные этапы от&nbsp;момента восприятия информации водителем до&nbsp;завершения им&nbsp;управления автомобилем.</p>
                <p>А. Полученная водителем в&nbsp;процессе дорожного движения информация определяется: реальной информацией, полученный рецепторами водителя, или интуитивной, предполагаемой информацией на&nbsp;основе интуиции.</p>
                <p>В. Обработка полученной информации осуществляется мыслительным, логическим процессом, <nobr>т. е.</nobr> умозаключением, или субъективно, эмоционально, <nobr>т. е.</nobr> этическим процессом на&nbsp;чувствительном уровне.</p>
                <p>С. Принятие решения по&nbsp;управлению автомобилем осуществляется объективно и&nbsp;беспристрастно, <nobr>т. е.</nobr> принятием твердого, рационального решения, или принятием гибкого, иррационального решения.</p>
                <p>Д. Реализация принятого решения по&nbsp;управлению автомобилем зависит от&nbsp;человеческой психики. Карл Густав Юнг ввел понятия о&nbsp;2 параметрах человеческой психики: экстраверсия (Э) и&nbsp;интроверсия (В).</p>
                <p>Вышеприведенная схема описания альтернативного поведения водителей исключает промежуточные варианты, что позволяет более четко дифференцировать водителей по&nbsp;степени их&nbsp;надёжности при управлении автомобилем.</p>
                <p>Согласно теории Карла Юнга, каждый из&nbsp;нас от&nbsp;рождения предрасположен к&nbsp;определенным личным предпочтениям. На&nbsp;основе этой теории разработан индикатор типов <nobr>Майерс-Бриггс</nobr>, который дает удобную рабочую схему неформального определения предпочтений людей. Существуют четыре пары противоположных предпочтений: (см.&nbsp;табл. 9.1).</p>
                <p>Таблица 9.1</p>
                <p>Морфологический ящик типологии водителей</p>
                <p>Процесс получения и&nbsp;приема информации</p>
                <p>(1) Сенсорный тип или (2) Интуитивный тип</p>
                <p>Процесс обработки информации</p>
                <p>(3) Логический тип или (4) Этический тип</p>
                <p>Процесс принятия решения</p>
                <p>(5) Рациональный тип или (6) Иррациональный тип</p>
                <p>Процесс осуществления управляющего воздействия</p>
                <p>(7) Экстравертный тип или (8) Интровертный тип</p>
                <p>Эти восемь определений отражают предпочтения, <nobr>т. е.</nobr> можно сильно тяготеть лишь к&nbsp;одному качеству, промежуточные варианты не&nbsp;обсуждаются, что позволяет значительно упростить идентификацию водителей на&nbsp;основе их&nbsp;анкетного опроса (тестирования), так как поставленные в&nbsp;анкете вопросы требуют однозначного ответа на&nbsp;тот (а) или иной (б) вариант.</p>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h4>{{index + 1}} / {{numQuestions}}</h4>
        <h3>{{currentQuestion}}</h3>
        <br>
        <div>
            <button class="btn btn-default btn-block" ng-click="answerClick(1)">{{currentAnswer1}}</button>
        </div>
        <br>
        <div>
            <button class="btn btn-default btn-block" ng-click="answerClick(2)">{{currentAnswer2}}</button>
        </div>
        <br>
        <br>
        <div>
            <button class="btn btn-primary" ng-hide="index == 0 "ng-click="goBack()">
                Назад
            </button>
            <button class="btn btn-success" ng-show="finish" ng-click="finishAction()">
                Получить результаты
            </button>
        </div>
        <div ng-show="showResult">
            <h2>Результаты:</h2>
            <h3>Сенсорный тип {{resultCount[0]}}, Интуитивный тип {{resultCount[1]}}</h3>
            <h3>Логический тип {{resultCount[2]}}, Этический тип {{resultCount[3]}}</h3>
            <h3>Рациональный тип {{resultCount[4]}}, Иррациональный тип {{resultCount[5]}}</h3>
            <h3>Экстравертный тип {{resultCount[6]}}, Интровертный тип {{resultCount[7]}}</h3>

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td colspan="2">
                        А.  Показатели о  процессе восприятия (получения)  информации
                    </td>
                </tr>
                <tr>
                    <td ng-class="tdClass(1)">1. Сенсорный тип (Ощущающий, от англ. “Sensation”).
                        Водитель принимает информацию буквально конкретно, прекрасно запоминает
                        детали, факты, цифры, он уверен в себе, соблюдает дисциплину и требует
                        этого от других, любитпорядок и знает, как надо себя вести, имеетстабильную
                        работоспособность.
                    </td>
                    <td ng-class="tdClass(2)">2. Интуитивный тип (Интуитивный, от англ. “Intuition”).
                        Водитель мало обращает внимания на мелкие детали, он воспринимает мир через образы,
                        практически не видит конкретных фактов, он неточен и необязателен в сроках, ему нужно
                        напоминать о его обязанностях.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">У сенсорных типов хорошо развиты ручные навыки, они легко справляются с конкретной точной и рутинной работой. Интуитивные типы эффективны тогда, когда недостает фактов, а задача очень запутана, нестандартна, то есть когда, собственно, и требуется интуиция.</td>
                </tr>
                <tr>
                    <td colspan="2">В. Показатели о процессе  обработки информации</td>
                </tr>
                <tr>
                    <td ng-class="tdClass(3)">3. Логический тип (Думающий, от англ. “Thinking”).
                        Водитель объективно оценивает информациюна основе трезвого, логического анализа,
                        обрабатывает информацию с «умом»,оценивает
                        поступки с точки зрения «правильно - неправильно», «разумно - глупо», он
                        ориентированна систему, закон и порядок, любит анализировать различные
                        вопросы и устанавливать логические связи.
                    </td>
                    <td ng-class="tdClass(4)">
                        4. Этический тип
                        (Чувствующий, от англ.“Feeling”).
                        Водитель  оценивает информацию с
                        этических, субъективных точек зренеия,
                        обрабатывает информацию
                        «сердцем», пользуется критериями
                        «порядочно - непорядочно», «гуманно -
                        негуманно», задаетвопрос «для чего?», он
                        ориентирован налюдей, ему приятно,если
                        его старания заметили и оценили.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Логик эффективен там, где требуется анализ и жесткость. Сдержан в проявлении  эмоций.
                        Этик эффективен там, где важно умение чувствовать людей и строить с ними отношения.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        С. Показатели  о процессе  принятия решения
                    </td>
                </tr>
                <tr>
                    <td ng-class="tdClass(5)">
                        5. Рациональный тип
                        (Решающий, от англ. “Judging”).
                        Водитель принимает хладнокровное и
                        правильное решение,  рассудительно,  не
                        суетится и уверен в своей правоте, решение
                        принимает быстро, редко
                        меняет свои взгляды,ответственен к
                        обязанностям, не любит опаздывать,
                        любит порядок, предпочитает планировать
                        свою работу и работать по плану.
                    </td>
                    <td ng-class="tdClass(6)">
                        6. Иррациональный тип
                        (Воспринимающий, от англ. “Perceiving”).
                        Водитель принимает решение в
                        эмоциональном  состоянии, на
                        чувствительномуровне, испытывает
                        затруднения в при-нятии решений,
                        непоследователен, частоменяет свои
                        мнения и взгляды, неточен,любит
                        экспериментировать, можетпрекрасно
                        маневрировать.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        У решающего типа стабильная работоспособность, он ответственно относится к обязанностям на работе. У воспринимающего типа работоспособность связана с изменчивым настроением. Он обычно действует без подготовки, «веря в свою удачу». Может начинать сразу много дел, не доводя их до конца. Но он быстро реагирует на изменения обстановки, можетпрекрасно маневрировать.
                    </td>
                </tr>

                <tr>
                    <td colspan="2">Д. Показатели о процессе  осуществления  воздействия</td>
                </tr>
                <tr>
                    <td ng-class="tdClass(7)">
                        7. Экстравертный тип
                        (Активный, от англ. “Extraverts” ).
                        Водитель имеет установку на активное
                        действие, действует по возможности быстро,
                        редко задумывается, прежде чем что-то
                        сделать, любит разнообразие в действиях, интересуется результатами
                        работы и способом ее выполнения, коммуникабелен, активно общается.
                    </td>
                    <td ng-class="tdClass(8)">
                        8. Интровертный тип
                        (Пассивный, от англ. “Intervene”).
                        Водитель действует пассивно, раздумывает,
                        прежде чем действовать, а иногда и вместо
                        того, чтобы действовать, стремится быть внимательным в мелочах, интересуется
                        смыслом выполняемой работы, хорошо
                        работает в одиночку, быстро устает от общения.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Главное их различие в том, что экстраверт черпает энергию в общении с внешним миром, а интроверт - в уединении, поэтому при возникновении проблемы экстраверт всегда хочет с кем-то поделиться, интроверт же переживает ее внутри. Он вообще бережет свое внутреннее пространство от внешних посягательств, и не всегда понятно, что происходит у него в душе.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
